/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~advantages~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.advantages {
  padding: 95px 0px 95px 0px;
}
.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.advantages__item {
  flex-basis: calc((100% - 90px) / 4);
}
.advantages__meta {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.advantages__item::before {
  content: "";
  display: block;
  background-color: $colorStrokeHeader;
  border-radius: 4px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.photo__antenna::before {
  background-image: url(../img/antenna.svg);
}
.photo__clock::before {
  background-image: url(../img/clock.svg);
}

.photo__diagram::before {
  background-image: url(../img/diagram.svg);
}

.photo__astronaut::before {
  background-image: url(../img/astronaut.svg);
}
.advantages__title {
  font-weight: 700;
  line-height: 1.14;
}
.advantages__text {
  color: $colorSecondText;
}
