/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~advantages~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.advantages {
  padding: 95px 0px 95px 0px;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.advantages-item {
  flex-basis: calc((100% - 90px) / 4);
}
.advantages-meta {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.advantages-item::before {
  content: "";
  display: block;
  background-color: var(--colorStrokeHeader);
  border-radius: 4px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.photo-antenna::before {
  background-image: url(../img/antenna.svg);
}
.photo-clock::before {
  background-image: url(../img/clock.svg);
}

.photo-diagram::before {
  background-image: url(../img/diagram.svg);
}

.photo-astronaut::before {
  background-image: url(../img/astronaut.svg);
}
.advantages-title {
  font-weight: 700;
  line-height: 1.14;
}
.advantages-text {
  color: var(--colorSecondText);
}
