.contacts {
  @include flex-container($gap: 50px);
}
.contacts__link {
  font-weight: 500;
  font-size: inherit;
  color: $colorSecondText;
  line-height: 1.14;
  letter-spacing: 0.02em;
  @include flex-container(center, $gap: 10px);
  @include transition(color);
  &:hover {
    color: $accenTextColor;
  }
}
.contacts__icon {
  fill: $colorSecondText;
  @include transition(fill);
  .contacts__link:hover & {
    fill: $accenTextColor;
  }
}
.contacts__icon-envelope {
  width: 16px;
  height: 12px;
}
.contacts__icon-smartphone {
  width: 10px;
  height: 16px;
}
