/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~logo~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.logo {
  font-family: $textLogo;
  font-weight: 700;
  font-size: 26px;
  color: $accenTextColor;
  line-height: 1.154;
}
.logo:hover {
  animation-name: pulse;
  animation-iteration-count: infinite;
}
.logo__part {
  font-family: $textLogo;
  font-weight: 700;
  font-size: 26px;
  color: $logoColor;

  line-height: 1.154;
}
.logo__part--white {
  color: $backgroundColorText;
}
