/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~logo~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.logo-contrast {
  font-family: var(--textLogo);
  font-weight: 700;
  font-size: 26px;
  color: var(--accenTextColor);
  line-height: 1.154;
}
.logo-contrast:hover {
  animation-name: pulse;
  animation-iteration-count: infinite;
}
.logo {
  font-family: var(--textLogo);
  font-weight: 700;
  font-size: 26px;
  color: var(--logoColor);

  line-height: 1.154;
}
.logo-white {
  color: var(--backgroundColorText);
}
