/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~modal~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  inset: 0;
  transition-property: opacity;
  transition-duration: $animationDuration;
  transition-property: $animationType;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  background-color: $backgroundColorText;
  position: absolute;
  min-height: 581px;
  min-width: 528px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  transition-property: transform;
  transition-duration: $animationDuration;
  transition-property: $animationType;
}
.backdrop.is-hidden .modal {
  transform: translateX(-50%) translateY(-50%) scale(0.5);
}
.modal__btn-close {
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColorText;
  &:hover .icon__close,
  &:hover {
    cursor: pointer;
    fill: $accenTextColor;
  }
}
.icon__close {
  width: 18px;
  height: 18px;
  fill: $logoColor;
  transition-property: fill;
  transition-duration: $animationDuration;
  transition-timing-function: $animationType;
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}
.form__fields {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 12px 0 20px;
}
.agree {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 30px;
}
.agree__btn {
  width: 16px;
  height: 15px;
}
.agree__link {
  color: $accenTextColor;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.modal__meta {
  display: flex;
  justify-content: center;
}
.modal__button {
  color: $backgroundColorText;
  padding: 10px 52px;
}
.no__scroll {
  overflow: hidden;
}
