/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~regular-customers~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.regular-customers {
  padding: 94px 0;
}
.regular-customers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.regular-customers__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.regular-customer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  outline: 1px solid $colorIcon;
  border-radius: 4px;
  transition-property: outline;
  transition-duration: $animationDuration;
  transition-timing-function: $animationType;
  &:hover {
    outline: 1px solid $accenTextColor;
    .regular-customer__logo {
      fill: $accenTextColor;
    }
  }
}
.regular-customer__logo {
  width: 106px;
  height: 60px;
  fill: $colorIcon;
  transition-property: fill;
  transition-duration: $animationDuration;
  transition-timing-function: $animationType;
}
