.social-networks__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
  padding-bottom: 30px;
}
.social-networks__link {
  padding: 12px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: $animationDuration;
  transition-timing-function: $animationType;
  &:hover {
    background-color: $accenTextColor;
    .social-networks__icon {
      fill: $backgroundColorText;
    }
  }
}
.social-networks__icon {
  width: 20px;
  height: 20px;
  fill: $colorIcon;
  transition-property: fill;
  transition-duration: $animationDuration;
  transition-timing-function: $animationType;
}
