/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~color~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~font~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~transition~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
textarea {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  outline: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

ul {
  list-style: none;
  font-family: inherit;
}

img {
  display: block;
  width: 100%;
}

input {
  border: none;
  background-color: transparent;
  outline: none;
}

textarea {
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
  width: 100%;
}

body {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 14px;
  color: #212121;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.container {
  max-width: 1200px;
  padding: 0px 15px 0px 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~logo~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.logo {
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
  line-height: 1.154;
}

.logo:hover {
  animation-name: pulse;
  animation-iteration-count: infinite;
}

.logo__part {
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 26px;
  color: #000000;
  line-height: 1.154;
}

.logo__part--white {
  color: #ffffff;
}

.button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  background-color: #2196f3;
  padding: 10px 32px;
  border-radius: 4px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 3px solid transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition-property: color, border, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.fields {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.fields__label {
  font-size: 12px;
  color: #757575;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.fields__content {
  max-width: 448px;
  padding: 11px 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fields__content:hover .fields__icon,
.fields__content:hover,
.fields__content:focus-within .fields__icon,
.fields__content:focus-within {
  cursor: pointer;
  fill: #2196f3;
  border-color: #2196f3;
}

.comment__field {
  padding: 12px 16px;
}

.fields__input {
  min-width: 90%;
}

.fields__comment {
  min-height: 96px;
}

.fields__icon {
  width: 18px;
  height: 18px;
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
  padding-bottom: 30px;
}

.social-networks__link {
  padding: 12px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks__link:hover {
  background-color: #2196f3;
}
.social-networks__link:hover .social-networks__icon {
  fill: #ffffff;
}

.social-networks__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.14;
}

.footer .social-networks {
  flex-grow: 2;
}

.footer .social-networks__list {
  justify-content: flex-start;
  margin-top: 20px;
  padding-bottom: 0;
}

.social-networks__link--accent {
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks__link--accent:hover {
  background-color: #2196f3;
}

.social-networks__icon--grey {
  fill: #ffffff;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~header~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.header {
  padding: 25px 0px 25px 0px;
  box-shadow: inset 0 -1px 0 0 #ececec;
}

.header__container {
  display: flex;
  gap: 93px;
  align-items: center;
}

.nav {
  flex-grow: 2;
}

.nav__list {
  display: flex;
  gap: 50px;
}

.nav__item {
  position: relative;
}

.nav__link {
  font-size: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link::after,
.choice::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  position: absolute;
  left: 0;
  bottom: -28px;
  border-radius: 4px;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover::after,
.choice::after {
  transform: scale(1);
}

.nav__link:hover,
.choice {
  color: #2196f3;
}

.contacts {
  display: flex;
  gap: 50px;
}

.contacts__link {
  font-weight: 500;
  font-size: inherit;
  color: #757575;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  gap: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover {
  color: #2196f3;
}

.contacts__icon {
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover .contacts__icon {
  fill: #2196f3;
}

.contacts__icon-envelope {
  width: 16px;
  height: 12px;
}

.contacts__icon-smartphone {
  width: 10px;
  height: 16px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~hero~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.hero {
  background-color: #2f303a;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0px 200px 0px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.hero__title {
  display: flex;
  max-width: 696px;
  font-size: 44px;
  font-weight: 900;
  color: #ffffff;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button:hover {
  color: #2196f3;
  border: 3px solid #2196f3;
  background-color: #ffffff;
  cursor: pointer;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~modal~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  inset: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-property: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  background-color: #ffffff;
  position: absolute;
  min-height: 581px;
  min-width: 528px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  transition-property: transform;
  transition-duration: 250ms;
  transition-property: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translateX(-50%) translateY(-50%) scale(0.5);
}

.modal__btn-close {
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.modal__btn-close:hover .icon__close, .modal__btn-close:hover {
  cursor: pointer;
  fill: #2196f3;
}

.icon__close {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.form__fields {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 12px 0 20px;
}

.agree {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  margin-bottom: 30px;
}

.agree__btn {
  width: 16px;
  height: 15px;
}

.agree__link {
  color: #2196f3;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.modal__meta {
  display: flex;
  justify-content: center;
}

.modal__button {
  color: #ffffff;
  padding: 10px 52px;
}

.no__scroll {
  overflow: hidden;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~advantages~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.advantages {
  padding: 95px 0px 95px 0px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.advantages__item {
  flex-basis: calc((100% - 90px) / 4);
}

.advantages__meta {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.advantages__item::before {
  content: "";
  display: block;
  background-color: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.advantages__item--antenna::before {
  background-image: url(../img/antenna.svg);
}

.advantages__item--clock::before {
  background-image: url(../img/clock.svg);
}

.advantages__item--diagram::before {
  background-image: url(../img/diagram.svg);
}

.advantages__item--astronaut::before {
  background-image: url(../img/astronaut.svg);
}

.advantages__title {
  font-weight: 700;
  line-height: 1.14;
}

.advantages__text {
  color: #757575;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~work~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.work {
  padding-bottom: 95px;
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.work__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.work__item {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.work__text {
  font-weight: 700;
  color: #ffffff;
  line-height: 1.14;
  text-transform: uppercase;
  position: absolute;
  background-color: rgba(48, 49, 59, 0.8);
  width: 100%;
  padding: 27px 0 27px;
  bottom: 0;
  text-align: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~team~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.team {
  background-color: #f5f4fa;
  padding: 95px 0px 95px 0px;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.team__item {
  flex-basis: calc((100% - 90px) / 4);
}

.teammate {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.teammate__meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 30px;
}

.teammate__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.teammate__role {
  font-size: 16px;
  color: #757575;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~regular-customers~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.regular-customers {
  padding: 94px 0;
}

.regular-customers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.regular-customers__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.regular-customer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  outline: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customer__link:hover {
  outline: 1px solid #2196f3;
}
.regular-customer__link:hover .regular-customer__logo {
  fill: #2196f3;
}

.regular-customer__logo {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~footer~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.footer {
  background-color: #2f303a;
  padding: 60px 0px 60px 0px;
}

.footer__container {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.address__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.address {
  font-style: normal;
  color: #ffffff;
}

.address__link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
}

.follow__label {
  font-weight: 700;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
}

.follow__meta {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.follow__box {
  min-width: 358px;
  padding: 15px 16px;
  max-height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
}

.follow__input {
  color: rgba(255, 255, 255, 0.6);
  min-width: 100%;
}

.follow__btn {
  line-height: 1.19;
  padding: 10px 28px;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  fill: #ffffff;
  cursor: pointer;
}

.follow__icon {
  width: 24px;
  height: 24px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~portfolio~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.portfolio {
  padding: 95px 0px 95px 0px;
}

.portfolio__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter__list {
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
}

.filter__button {
  font-size: 16;
  border: none;
  background-color: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  line-height: 1.6;
  letter-spacing: inherit;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery__item {
  flex-basis: calc((100% - 60px) / 3);
}

.project {
  outline: 1px solid #ececec;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project:hover {
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.project:hover .project__overlay {
  transform: translateY(0);
}

.project__photo {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  inset: 0;
  background-color: hsla(207, 90%, 54%, 0.9);
  padding: 63px 24px;
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.text-project__overlay {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.6;
}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__meta {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px 24px;
}

.project__category {
  font-size: 16px;
  color: #757575;
  line-height: 1.8;
}