:root {
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~color~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  --colorTextPrimary: #212121;
  --colorSecondText: #757575;
  --accenTextColor: #2196f3;
  --backgroundDarkColorText: #2f303a;
  --backgroundColorText: #ffffff;
  --colorStroke: #ececec;
  --logoColor: #000000;
  --colorStrokeHeader: #f5f4fa;
  --colorTextInFooter: #ffffff99;
  --colorIcon: #afb1b8;
  --colorIconImFooter: rgba(255, 255, 255, 0.1);
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~font~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
  --textPrimary: "Roboto", serif;
  --textLogo: "Raleway", serif;
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~transition~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  --animationDuration: 250ms;
  --animationType: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
textarea {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  outline: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

ul {
  list-style: none;
  font-family: inherit;
}

img {
  display: block;
  width: 100%;
}

input {
  border: none;
  background-color: transparent;
  outline: none;
}

textarea {
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
  width: 100%;
}

body {
  font-family: var(--textPrimary);
  font-weight: 400;
  font-size: 14px;
  color: var(--colorTextPrimary);
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.container {
  max-width: 1200px;
  padding: 0px 15px 0px 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~logo~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.logo-contrast {
  font-family: var(--textLogo);
  font-weight: 700;
  font-size: 26px;
  color: var(--accenTextColor);
  line-height: 1.154;
}

.logo-contrast:hover {
  animation-name: pulse;
  animation-iteration-count: infinite;
}

.logo {
  font-family: var(--textLogo);
  font-weight: 700;
  font-size: 26px;
  color: var(--logoColor);
  line-height: 1.154;
}

.logo-white {
  color: var(--backgroundColorText);
}

.button {
  color: var(--backgroundColorText);
  font-size: 16px;
  font-weight: 700;
  border: none;
  background-color: var(--accenTextColor);
  padding: 10px 32px;
  border-radius: 4px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 3px solid transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition-property: color, border, background-color;
  transition-duration: var(--animationDuration);
  transition-timing-function: var(--animationType);
  cursor: pointer;
}

.social-networks-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
  padding-bottom: 30px;
}

.social-networks-link {
  padding: 12px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: var(--animationDuration);
  transition-timing-function: var(--animationType);
}

.social-networks-icon {
  width: 20px;
  height: 20px;
  fill: var(--colorIcon);
  transition-property: fill;
  transition-duration: var(--animationDuration);
  transition-timing-function: var(--animationType);
}

.social-networks-link:hover {
  background-color: var(--accenTextColor);
}

.social-networks-link:hover .social-networks-icon {
  fill: var(--backgroundColorText);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~header~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.header {
  padding: 25px 0px 25px 0px;
  box-shadow: inset 0 -1px 0 0 var(--colorStroke);
}

.header-container {
  display: flex;
  gap: 93px;
  align-items: center;
}

.nav {
  flex-grow: 2;
}

.nav-list {
  display: flex;
  gap: 50px;
}

.nav-item {
  position: relative;
}

.nav-link {
  font-size: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: var(--animationDuration);
  transition-timing-function: var(--animationType);
}

.nav-link::after,
.choice::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accenTextColor);
  position: absolute;
  left: 0;
  bottom: -28px;
  border-radius: 4px;
  transform: scale(0);
  transition-property: transform;
  transition-duration: var(--animationDuration);
  transition-timing-function: var(--animationType);
}

.nav-link:hover::after,
.choice::after {
  transform: scale(1);
}

.nav-link:hover,
.choice {
  color: var(--accenTextColor);
}

.contact-list {
  display: flex;
  gap: 50px;
}

.contact-link {
  font-weight: 500;
  font-size: inherit;
  color: var(--colorSecondText);
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  gap: 10px;
  transition-property: color;
  transition-duration: var(--animationDuration);
  transition-timing-function: var(--animationType);
}

.contact-link:hover {
  color: var(--accenTextColor);
}

.contact-icon {
  fill: var(--colorSecondText);
  transition-property: fill;
  transition-duration: var(--animationDuration);
  transition-timing-function: var(--animationType);
}

.contact-icon-envelope {
  width: 16px;
  height: 12px;
}

.contact-icon-smartphone {
  width: 10px;
  height: 16px;
}

.contact-link:hover .contact-icon {
  fill: var(--accenTextColor);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~hero~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.hero {
  background-color: var(--backgroundDarkColorText);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0px 200px 0px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.hero-title {
  display: flex;
  max-width: 696px;
  font-size: 44px;
  font-weight: 900;
  color: var(--backgroundColorText);
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button:hover {
  color: var(--accenTextColor);
  border: 3px solid var(--accenTextColor);
  background-color: var(--backgroundColorText);
  cursor: pointer;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~modal~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  inset: 0;
  transition-property: opacity;
  transition-duration: var(--animationDuration);
  transition-property: var(--animationType);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  background-color: var(--backgroundColorText);
  position: absolute;
  min-height: 581px;
  min-width: 528px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  transition-property: transform;
  transition-duration: var(--animationDuration);
  transition-property: var(--animationType);
}

.backdrop.is-hidden .modal {
  transform: translateX(-50%) translateY(-50%) scale(0.5);
}

.btn-close {
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroundColorText);
}

.btn-close:hover .icon-close,
.btn-close:hover {
  cursor: pointer;
  fill: var(--accenTextColor);
}

.icon-close {
  width: 18px;
  height: 18px;
  fill: var(--logoColor);
  transition-property: fill;
  transition-duration: var(--animationDuration);
  transition-timing-function: var(--animationType);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.modal-fields {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 12px 0 20px;
}

.form-content {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.form-label {
  font-size: 12px;
  color: var(--colorSecondText);
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-field {
  max-width: 448px;
  padding: 11px 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  transition-property: border-color;
  transition-duration: var(--animationDuration);
  transition-timing-function: var(--animationType);
}

.form-field:hover .form-icon,
.form-field:hover,
.form-field:focus-within .form-icon,
.form-field:focus-within {
  cursor: pointer;
  fill: var(--accenTextColor);
  border-color: #2196f3;
}

.comment-field {
  padding: 12px 16px;
}

.form-input {
  min-width: 90%;
}

.form-comment {
  min-height: 96px;
}

.form-icon {
  width: 18px;
  height: 18px;
  fill: var(--colorTextPrimary);
  transition-property: fill;
  transition-duration: var(--animationDuration);
  transition-timing-function: var(--animationType);
}

.agree {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  margin-bottom: 30px;
}

.agree-btn {
  width: 16px;
  height: 15px;
}

.agree-link {
  color: var(--accenTextColor);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.modal-meta {
  display: flex;
  justify-content: center;
}

.modal-button {
  color: var(--backgroundColorText);
  padding: 10px 52px;
}

.no-scroll {
  overflow: hidden;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~advantages~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.advantages {
  padding: 95px 0px 95px 0px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.advantages-item {
  flex-basis: calc((100% - 90px) / 4);
}

.advantages-meta {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.advantages-item::before {
  content: "";
  display: block;
  background-color: var(--colorStrokeHeader);
  border-radius: 4px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.photo-antenna::before {
  background-image: url(../img/antenna.svg);
}

.photo-clock::before {
  background-image: url(../img/clock.svg);
}

.photo-diagram::before {
  background-image: url(../img/diagram.svg);
}

.photo-astronaut::before {
  background-image: url(../img/astronaut.svg);
}

.advantages-title {
  font-weight: 700;
  line-height: 1.14;
}

.advantages-text {
  color: var(--colorSecondText);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~work~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.work {
  padding-bottom: 95px;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.work-item {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.work-text {
  font-weight: 700;
  color: var(--backgroundColorText);
  line-height: 1.14;
  text-transform: uppercase;
  position: absolute;
  background-color: rgba(48, 49, 59, 0.8);
  width: 100%;
  padding: 27px 0 27px;
  bottom: 0;
  text-align: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~team~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.team {
  background-color: var(--colorStrokeHeader);
  padding: 95px 0px 95px 0px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.team-item {
  flex-basis: calc((100% - 90px) / 4);
}

.teammate {
  background: var(--backgroundColorText);
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.teammate-meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 30px;
}

.teammate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.teammate-role {
  font-size: 16px;
  color: var(--colorSecondText);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~regular-customers~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.regular-customers {
  padding: 94px 0;
}

.regular-customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.regular-customers-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.regular-customer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  outline: 1px solid var(--colorIcon);
  border-radius: 4px;
  transition-property: outline;
  transition-duration: var(--animationDuration);
  transition-timing-function: var(--animationType);
}

.regular-customer-logo {
  width: 106px;
  height: 60px;
  fill: var(--colorIcon);
  transition-property: fill;
  transition-duration: var(--animationDuration);
  transition-timing-function: var(--animationType);
}

.regular-customer-link:hover {
  outline: 1px solid var(--accenTextColor);
}

.regular-customer-link:hover .regular-customer-logo {
  fill: var(--accenTextColor);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~footer~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.footer {
  background-color: var(--backgroundDarkColorText);
  padding: 60px 0px 60px 0px;
}

.footer-container {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.address {
  font-style: normal;
  color: var(--backgroundColorText);
}

.address-link {
  font-style: normal;
  color: var(--colorTextInFooter);
  display: flex;
  flex-direction: column;
}

.social-networks-footer {
  flex-grow: 2;
}

.social-networks-footer-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: var(--backgroundColorText);
  line-height: 1.14;
}

.footer .social-networks-list {
  justify-content: flex-start;
  margin-top: 20px;
  padding-bottom: 0;
}

.footer .social-networks-link {
  background-color: var(--colorIconImFooter);
  transition-property: background-color;
  transition-duration: var(--animationDuration);
  transition-timing-function: var(--animationType);
}

.footer .social-networks-icon {
  fill: var(--backgroundColorText);
}

.footer .social-networks-link:hover {
  background-color: var(--accenTextColor);
}

.follow-label {
  font-weight: 700;
  line-height: 1.14;
  color: var(--backgroundColorText);
  text-transform: uppercase;
}

.follow-meta {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.follow-box {
  min-width: 358px;
  padding: 15px 16px;
  max-height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
}

.follow-input {
  color: rgba(255, 255, 255, 0.6);
  min-width: 100%;
}

.follow-btn {
  line-height: 1.19;
  padding: 10px 28px;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  fill: var(--backgroundColorText);
  cursor: pointer;
}

.follow-icon {
  width: 24px;
  height: 24px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~portfolio~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.portfolio {
  padding: 95px 0px 95px 0px;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-list {
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-button {
  font-size: 16;
  border: none;
  background-color: var(--colorStrokeHeader);
  padding: 6px 22px;
  border-radius: 4px;
  line-height: 1.6;
  letter-spacing: inherit;
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--animationDuration);
  transition-timing-function: var(--animationType);
}

.filter-button:hover {
  color: var(--backgroundColorText);
  background-color: var(--accenTextColor);
  cursor: pointer;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-item {
  flex-basis: calc((100% - 60px) / 3);
}

.project {
  outline: 1px solid var(--colorStroke);
  transition-property: box-shadow;
  transition-duration: var(--animationDuration);
  transition-timing-function: var(--animationType);
}

.project:hover {
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.project:hover .project-overlay {
  transform: translateY(0);
}

.project-photo {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  inset: 0;
  background-color: hsla(207, 90%, 54%, 0.9);
  padding: 63px 24px;
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: var(--animationDuration);
  transition-timing-function: var(--animationType);
}

.text-project-overlay {
  font-size: 18px;
  color: var(--backgroundColorText);
  line-height: 1.6;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-meta {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px 24px;
}

.project-category {
  font-size: 16px;
  color: var(--colorSecondText);
  line-height: 1.8;
}